* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body{
    background-color: rgba(0, 0, 0, 0.178);
    background-image: url(gibson-lespaul.jpg);
}

#Foto-perfil {
    display: block;
    align-content: center;
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 290px;
    height: 470px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 53%);
}

.footer-photo{
    color: white;
    text-align: center;
}

.container-main {
    text-align: center;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 53%);
    border-radius: 30px;
}


.carreira {
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 53%);
}

.carreira85 {
    text-align: left;
    background-color: rgba(255, 0, 0, 0.5);
}

.carreira94 {
    text-align: right;
    background-color: rgba(255, 166, 0, 0.452);
}

.carreira002 {
    text-align: left;
    background-color: rgba(255, 68, 0, 0.568);
}

.carreira008 {
    text-align: right;
    background-color: tomato;
}

.carreira16 {
    text-align: center;
    background-color: rgba(160, 81, 45, 0.582);
    background-position: 100%;

}

.final{
    font-size: 15px;
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
}

.final a {
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.final a:hover {
    background-color: white;
    color: black;
}

.container-main img {
    width: 300px;
    height: auto;
}